@model Mod.Models.ViewModels.Sites.SiteIndexVM
@{
    ViewData["Title"] = "Home Page";
}

@if(Model.HTMLPath != null)
{
    
}
else
{
    <h3>@Model.SiteObj.Name</h3>
    <p>@Model.SiteObj.ShortDescription</p>
}

